body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background:#FFF1F2;
    color:#4B2E2E;
}

header{
    background:#E11D48;
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
}

.cart span{
    background:#FBBF24;
    color:black;
    padding:4px 8px;
    border-radius:50%;
    font-weight:bold;
}

.container{
    padding:30px;
    display:none;
}

.login-box{
    max-width:350px;
    margin:120px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

input,button{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:8px;
}

button{
    background:#E11D48;
    color:white;
    border:none;
    cursor:pointer;
}

.cakes{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.cake{
    background:white;
    padding:15px;
    border-radius:15px;
    text-align:center;
}

.cake img{
    width:100%;
    height:160px;
    object-fit:cover;
    border-radius:12px;
}

table{
    width:100%;
    background:white;
    border-radius:10px;
}

th{
    background:#FBCFE8;
}

th,td{
    padding:10px;
    text-align:center;
}

.qty-btn{
    padding:5px 10px;
    background:#E11D48;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.remove-btn{
    background:#DC2626;
    color:white;
    border:none;
    padding:6px 10px;
    border-radius:6px;
}

.qr{
    width:200px;
    display:block;
    margin:15px auto;
}

#qrSection{
    display:none;
}


